

$Bunker: #0d1219;
$White: #ffffff;
$Emperor: #514f51;
$Zorba: #a29185;
$Blaze-Orange: #fe6901;
$Lightning-Yellow: #fdca27;
$Cornflower-Blue: #4385f2;
$Reef-Gold: #a0851c;
$Picasso: #fff091;
$Tabasco: #ae1110;
$BlueTrasparent: #12222F;

